/*GENERAL STYLES */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

@font-face {
  font-family: "open";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format("woff"); }
section {
  text-align: center;
  padding-bottom: 50px; }

/*END GENERAL STYLES */
/* BUTTON 1 - GROUP */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.btn_group_1 a {
  display: block;
  margin: auto;
  margin-top: 50px;
  text-decoration: none;
  color: inherit; }
.btn_group_1 .biliboard {
  width: 200px;
  padding: 20px;
  text-align: center;
  position: relative;
  background: #fff;
  color: #333;
  font: 13px open, tahoma; }
.btn_group_1 .biliboard:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  transform: scale(1.02, 1.08);
  position: absolute;
  background: #f00;
  background: linear-gradient(90deg, #fafafa, #fafafa, #1D8EF7, #fafafa, #fafafa);
  background-position: 55px 0;
  top: 0;
  animation: linear 1s infinite linear;
  left: 0;
  z-index: -1; }
.btn_group_1 .biliboard.radial:before {
  background: radial-gradient(#fafafa, #fafafa, #F2A61A, #fafafa, #fafafa);
  animation: radial 1s infinite linear; }
.btn_group_1 .biliboard.repeating:before {
  background: repeating-linear-gradient(-45deg, #fafafa, #fafafa 30px, #5FC914 30px, #5FC914 60px) fixed;
  animation: repeating 1s infinite linear; }
.btn_group_1 .biliboard.electronic:before {
  background: radial-gradient(#EA238D, #EA238D, #EA238D, #EA238D, #fafafa, #fafafa) no-repeat;
  background-size: 120px 50px;
  animation: electronic 2s infinite linear; }

@keyframes linear {
  from {
    background-position: 0 0; }
  to {
    background-position: 200px 0; } }
@keyframes radial {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 60px; } }
@keyframes repeating {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 85px; } }
@keyframes electronic {
  0%, 100% {
    background-position: 20px -30px; }
  25% {
    background-position: 150px 5px; }
  50% {
    background-position: 20px 40px; }
  75% {
    background-position: -100px 5px; } }
/* END BUTTON 1 - GROUP */
/* BUTTON 2 - GROUP */
.btn_group_2 a {
  font: 13px open, tahoma;
  border: none; }
.btn_group_2 .box {
  background-color: inherit;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: background-color ease-in-out 400ms;
  font-weight: bold;
  color: #c1c1c1; }
.btn_group_2 .box::before, .btn_group_2 .box::after {
  background-color: #c1c1c1;
  content: "";
  position: absolute;
  transform: translate3D(0, 100%, 0);
  transition: transform 200ms linear;
  transition-delay: 200ms;
  width: 2px;
  height: 100%;
  bottom: 0; }
.btn_group_2 .box::before {
  right: 0;
  left: auto; }
.btn_group_2 .box::after {
  left: 0; }
.btn_group_2 .box__content::after {
  content: "";
  height: 2px;
  border-bottom: 2px solid #c1c1c1;
  bottom: 0;
  position: absolute;
  right: 30%;
  left: 30%;
  transition: left 200ms linear, right 200ms linear;
  /* double delayed time for transition */
  transition-delay: 400ms; }
.btn_group_2 .box__content-wrap::before, .btn_group_2 .box__content-wrap::after {
  border-top: 2px solid #c1c1c1;
  content: "";
  position: absolute;
  top: 0;
  transition: transform 200ms linear;
  width: 50%; }
.btn_group_2 .box__content-wrap::before {
  left: 0;
  transform: translate3D(-101%, 0, 0); }
.btn_group_2 .box__content-wrap::after {
  right: 0;
  transform: translate3D(101%, 0, 0); }
.btn_group_2 .box:hover::before, .btn_group_2 .box:hover::after {
  transform: translate3D(0, 0, 0);
  transition: transform 200ms linear;
  transition-delay: 200ms; }
.btn_group_2 .box:hover .box__content::after {
  right: 1%;
  left: 1%;
  transition: left 200ms linear, right 200ms linear; }
.btn_group_2 .box:hover .box__content-wrap::before, .btn_group_2 .box:hover .box__content-wrap::after {
  transform: translate3D(0, 0, 0);
  transition: transform 200ms linear;
  /* double delayed time for transition */
  transition-delay: 400ms; }
.btn_group_2 .box.change__background-color:hover {
  color: white;
  background-color: #c1c1c1;
  transition-delay: 400ms; }

/* END BUTTON 2 - GROUP */

/*# sourceMappingURL=main.css.map */
